/*  Formy - CSS Framework 0.8   */

/* 
	reset.css  
*/

fieldset, form, label, legend
 { margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline; }

/* 
	Structural
*/


fieldset
	{ margin: 0 0 1.5em 0; padding: 1.4em;  }

legend
	{ padding: 0 .4em; font-size:1.2em;  }


label	 
	{ float:left; width:9em; display:block; clear:left; margin-right:1em; text-align:left;  cursor:hand; }

textarea, input, select, label, button, optgroup
	{ margin-top:5px; }


input[type="checkbox"] ,input[type="radio"]
	{ margin-bottom:7px; }	

	
	
	
/* 
	Color palette
*/

fieldset
	{ border:1px solid #ccc; }
	
legend
	{ background-color: #e3dfdf; color: #333; }
	
label
	{ color:#333; }
	
textarea
	{ border: 1px solid #666; }

textarea:focus, input[type="text"]:focus  
	{ border: 2px solid #666; }

select
	{  background-color: #fff; color: #000; }

input[type="text"]
	{ border: 1px solid #666; }

input[type="submit"]
	{  background-color: #ccc; color: #333; }

input[type="checkbox"]
	{ color: #000; }

input[type="radio"]
	{  background-color: #fff; color: #000; }

option
	{ background-color:#fff; color:#000; }

optgroup
	{ background-color:#ccc; color:#000; }

button
	{ background-color: #ccc; color: #333; }




