

<form >
    <p><label>Carrier:</label> <input type="text" name="phone.carrier" ng:model="phone.carrier" /></p>
    <p><label>Id:</label> <input type="text" name="phone._id" ng:model="phone._id" /></p>
    <p><label>Image URL:</label> <input type="text" name="phone.imageUrl" ng:model="phone.imageUrl" /></p>
    <p><label>Name:</label> <input type="text" name="phone.name" ng:model="phone.name" /></p>
    <p><label>Snippet:</label> <input type="text" name="phone.snippet" ng:model="phone.snippet" /></p>
    <p><label>Age:</label> <input type="text" name="phone.age" ng:model="phone.age" /></p>
    <p> 
        <button ng:click="cancel()">Cancel</button>
        <button ng:click="save()">Save</button>
    </p>
</form>    

<hr/>
Debug View:
<pre>form={{form}} <br>
age={{phone.age}} <br> carrier={{phone.carrier}} <br> _id={{phone._id}}  </pre>

  